USE [master]
GO
/****** Object:  Database [fashion_shopping]    Script Date: 3/9/2026 12:30:33 PM ******/
CREATE DATABASE [fashion_shopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fashion_shopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\fashion_shopping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fashion_shopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\fashion_shopping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fashion_shopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fashion_shopping]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[role_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[banner_id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[target_link] [nvarchar](255) NULL,
	[display_order] [int] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[variant_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Size]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Size](
	[category_size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_name] [nvarchar](20) NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color_name] [nvarchar](50) NULL,
	[color_code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[account_id] [int] NULL,
	[email] [varchar](255) NULL,
	[birthday] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[variant_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[voucher_id] [int] NULL,
	[account_id] [int] NULL,
	[order_date] [date] NULL,
	[status] [nvarchar](30) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[payment_status] [nvarchar](30) NULL,
	[shipping_address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](30) NULL,
	[payment_date] [date] NULL,
	[amount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](150) NULL,
	[description] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[variant_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[color_id] [int] NULL,
	[category_size_id] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[image_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Requests]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Requests](
	[return_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[reason] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[request_date] [datetime] NULL,
	[admin_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnType]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnType](
	[return_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[return_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[review_date] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[discount_value] [decimal](10, 2) NULL,
	[expired_date] [date] NULL,
	[is_active] [bit] NULL,
	[min_order_value] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 3/9/2026 12:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[added_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [username], [password], [email], [status], [role_id], [full_name], [phone]) VALUES (1, N'nhatduy10', N'123456', N'nhatduy10@gmail.com', N'active', 3, N'Nhat Duy', N'123127867')
INSERT [dbo].[Account] ([account_id], [username], [password], [email], [status], [role_id], [full_name], [phone]) VALUES (2, N'nhatduy20', N'$2a$10$g.dQOK/sGlQJtV9AHRopwur7ZwkkQsayiQ9vqB1KID5n26bge.obO', N'nhatduy20@gmail.com', N'active', 3, N'Nhat Duy', N'123127867')
INSERT [dbo].[Account] ([account_id], [username], [password], [email], [status], [role_id], [full_name], [phone]) VALUES (3, N'admin', N'123456', N'admin@shop.com', N'Active', 1, N'Quản Trị Viên', N'0911222333')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([banner_id], [title], [image_url], [target_link], [display_order], [is_active]) VALUES (1, N'Tết Yêu Thương', N'https://marketplace.canva.com/EAGcRpu49DU/1/0/1600w/canva-banner-sale-khuy%E1%BA%BFn-m%C3%A3i-t%E1%BA%BFt-l%E1%BB%85-h%E1%BB%99i-mua-s%E1%BA%AFm-th%E1%BB%9Di-trang-thanh-l%E1%BB%8Bch-sang-tr%E1%BB%8Dng-xanh-l%C3%A1-m4yKTYeAR6g.jpg', N'/fashionstore/products/detail/37', 1, 1)
INSERT [dbo].[Banners] ([banner_id], [title], [image_url], [target_link], [display_order], [is_active]) VALUES (2, N'Siêu Sale Chấn Động Địa Cầu ', N'https://upcontent.vn/wp-content/uploads/2024/06/banner-shop-thoi-trang-2.jpg', N'/fashionstore/products/detail/16', 2, 1)
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([cart_item_id], [customer_id], [variant_id], [quantity]) VALUES (2, 1, 51, 3)
INSERT [dbo].[CartItem] ([cart_item_id], [customer_id], [variant_id], [quantity]) VALUES (3, 1, 42, 2)
INSERT [dbo].[CartItem] ([cart_item_id], [customer_id], [variant_id], [quantity]) VALUES (4, 1, 127, 1)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (1, N'Áo Thun')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (2, N'Quần Jean')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (3, N'Sơ Mi')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Category_Size] ON 

INSERT [dbo].[Category_Size] ([category_size_id], [size_name], [category_id]) VALUES (1, N'S', 1)
INSERT [dbo].[Category_Size] ([category_size_id], [size_name], [category_id]) VALUES (2, N'M', 1)
INSERT [dbo].[Category_Size] ([category_size_id], [size_name], [category_id]) VALUES (3, N'L', 1)
SET IDENTITY_INSERT [dbo].[Category_Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([color_id], [color_name], [color_code]) VALUES (1, N'Trắng', N'#FFFFFF')
INSERT [dbo].[Color] ([color_id], [color_name], [color_code]) VALUES (2, N'Đen', N'#000000')
INSERT [dbo].[Color] ([color_id], [color_name], [color_code]) VALUES (3, N'Xanh Dương', N'#1E90FF')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [full_name], [phone], [address], [account_id], [email], [birthday], [gender], [created_at]) VALUES (1, N'Nhat Duy', N'123127867', NULL, 1, N'nhatduy10@gmail.com', NULL, N'0', CAST(N'2026-02-03T00:51:35.163' AS DateTime))
INSERT [dbo].[Customer] ([customer_id], [full_name], [phone], [address], [account_id], [email], [birthday], [gender], [created_at]) VALUES (2, N'Nhat Duy', N'123127867', NULL, 2, N'nhatduy20@gmail.com', NULL, N'0', CAST(N'2026-02-03T00:57:45.420' AS DateTime))
INSERT [dbo].[Customer] ([customer_id], [full_name], [phone], [address], [account_id], [email], [birthday], [gender], [created_at]) VALUES (4, N'Nhat Duy', N'123127867', NULL, 12, N'nhatduy05@gmail.com', NULL, N'0', CAST(N'2026-02-04T13:08:07.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [variant_id], [quantity], [price]) VALUES (1, 1, 104, 2, CAST(620000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [variant_id], [quantity], [price]) VALUES (2, 1, 4, 1, CAST(380000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [variant_id], [quantity], [price]) VALUES (3, 2, 104, 1, CAST(310000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [customer_id], [voucher_id], [account_id], [order_date], [status], [total_amount], [payment_status], [shipping_address]) VALUES (1, 12, NULL, NULL, CAST(N'2026-03-01' AS Date), N'PENDING', CAST(1000000.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Orders] ([order_id], [customer_id], [voucher_id], [account_id], [order_date], [status], [total_amount], [payment_status], [shipping_address]) VALUES (2, 12, NULL, NULL, CAST(N'2026-03-01' AS Date), N'PENDING', CAST(310000.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Orders] ([order_id], [customer_id], [voucher_id], [account_id], [order_date], [status], [total_amount], [payment_status], [shipping_address]) VALUES (3, 12, NULL, NULL, CAST(N'2026-03-02' AS Date), N'PENDING', CAST(900000.00 AS Decimal(10, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [product_name], [description], [category_id], [account_id]) VALUES (1, N'Áo Thun Cotton Basic', N'Chất vải thoáng mát', 1, 1)
INSERT [dbo].[Product] ([product_id], [product_name], [description], [category_id], [account_id]) VALUES (2, N'Quần Jean Slimfit', N'Dáng ôm thời trang', 2, 1)
INSERT [dbo].[Product] ([product_id], [product_name], [description], [category_id], [account_id]) VALUES (3, N'Áo Hoodie Streetwear', N'Chất nỉ ngoại dày dặn, form rộng unisex', 4, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] ON 

INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [color_id], [category_size_id], [price], [stock], [image_url]) VALUES (1, 1, 1, 1, CAST(150000.00 AS Decimal(10, 2)), 100, N'at_trang_s.jpg')
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [color_id], [category_size_id], [price], [stock], [image_url]) VALUES (2, 1, 2, 2, CAST(155000.00 AS Decimal(10, 2)), 50, N'at_den_m.jpg')
INSERT [dbo].[ProductVariant] ([variant_id], [product_id], [color_id], [category_size_id], [price], [stock], [image_url]) VALUES (3, 2, 3, 5, CAST(450000.00 AS Decimal(10, 2)), 30, N'qj_xanh_29.jpg')
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] OFF
GO
SET IDENTITY_INSERT [dbo].[Return_Requests] ON 

INSERT [dbo].[Return_Requests] ([return_id], [order_id], [customer_id], [reason], [description], [status], [request_date], [admin_note]) VALUES (1, 67, 19, N'Giao sai mẫu, sai màu, sai size', N'Không thích đấy!', N'COMPLETED', CAST(N'2026-03-09T00:30:23.900' AS DateTime), N'Ok!')
INSERT [dbo].[Return_Requests] ([return_id], [order_id], [customer_id], [reason], [description], [status], [request_date], [admin_note]) VALUES (2, 1067, 19, N'Giao sai mẫu, sai màu, sai size', N'Không thích!', N'REJECTED', CAST(N'2026-03-09T01:01:54.463' AS DateTime), N'Không cho!')
SET IDENTITY_INSERT [dbo].[Return_Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnType] ON 

INSERT [dbo].[ReturnType] ([return_type_id], [type_name]) VALUES (1, N'Lỗi sản xuất')
INSERT [dbo].[ReturnType] ([return_type_id], [type_name]) VALUES (2, N'Không vừa size')
INSERT [dbo].[ReturnType] ([return_type_id], [type_name]) VALUES (3, N'Đổi mẫu khác')
SET IDENTITY_INSERT [dbo].[ReturnType] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([review_id], [customer_id], [product_id], [rating], [comment], [review_date], [is_active]) VALUES (1, 19, 40, 5, N'Đẹp, sang, mát', CAST(N'2026-03-08T14:27:27.557' AS DateTime), 1)
INSERT [dbo].[Review] ([review_id], [customer_id], [product_id], [rating], [comment], [review_date], [is_active]) VALUES (2, 19, 56, 5, N'Đẹp!', CAST(N'2026-03-09T11:31:34.983' AS DateTime), 0)
INSERT [dbo].[Review] ([review_id], [customer_id], [product_id], [rating], [comment], [review_date], [is_active]) VALUES (3, 19, 56, 5, N'Đẹp!', CAST(N'2026-03-09T11:31:35.007' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([voucher_id], [code], [discount_value], [expired_date], [is_active], [min_order_value]) VALUES (1, N'KHAITRUONG', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2026-12-31' AS Date), 1, NULL)
INSERT [dbo].[Voucher] ([voucher_id], [code], [discount_value], [expired_date], [is_active], [min_order_value]) VALUES (2, N'HOCGIOI', CAST(20000.00 AS Decimal(10, 2)), CAST(N'2026-03-12' AS Date), 1, NULL)
INSERT [dbo].[Voucher] ([voucher_id], [code], [discount_value], [expired_date], [is_active], [min_order_value]) VALUES (1002, N'GIAM100K', CAST(100000.00 AS Decimal(10, 2)), CAST(N'2026-03-26' AS Date), 1, CAST(1000000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
/****** Object:  Index [UQ__Customer__46A222CC792C3514]    Script Date: 3/9/2026 12:30:34 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__46A222CC79346354]    Script Date: 3/9/2026 12:30:34 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payment__46596228519E9245]    Script Date: 3/9/2026 12:30:34 PM ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payment__465962288AA98673]    Script Date: 3/9/2026 12:30:34 PM ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_wishlist_customer_product]    Script Date: 3/9/2026 12:30:34 PM ******/
ALTER TABLE [dbo].[Wishlist] ADD  CONSTRAINT [UQ_wishlist_customer_product] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_wishlist_customer]    Script Date: 3/9/2026 12:30:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_wishlist_customer] ON [dbo].[Wishlist]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_wishlist_product]    Script Date: 3/9/2026 12:30:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_wishlist_product] ON [dbo].[Wishlist]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [added_date]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Customer]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Variant]
GO
ALTER TABLE [dbo].[Category_Size]  WITH CHECK ADD  CONSTRAINT [FK_CategorySize_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Category_Size] CHECK CONSTRAINT [FK_CategorySize_Category]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FKn9x2k8svpxj3r328iy1rpur83] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FKn9x2k8svpxj3r328iy1rpur83]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orders]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariant] ([variant_id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Variant]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Account]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Voucher]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Orders]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Color] FOREIGN KEY([color_id])
REFERENCES [dbo].[Color] ([color_id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Color]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Product]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Size] FOREIGN KEY([category_size_id])
REFERENCES [dbo].[Category_Size] ([category_size_id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Size]
GO
ALTER TABLE [dbo].[Return_Requests]  WITH CHECK ADD  CONSTRAINT [FK_Return_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Return_Requests] CHECK CONSTRAINT [FK_Return_Customer]
GO
ALTER TABLE [dbo].[Return_Requests]  WITH CHECK ADD  CONSTRAINT [FK_Return_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Return_Requests] CHECK CONSTRAINT [FK_Return_Order]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_wishlist_customer]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_wishlist_product]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
